*,
*::befor,
*::after {
    margin: 0;
    padding: 0;
}

.prfImgConfirm {
    width: 100px;
    height: auto;
}

.prfImg {
    width: 40px;
    height: auto;
}

.postImg {
    width: 200px;
    height: auto;
}

.money {
    -ms-ime-mode: ;
}

.btn {
    width: 100%;
}

.table {
    table-layout: fixed;
}

.colDateTime {
    width: 20%;
}

.colBofp {
    width: 25%;
}

.colMoney {
    width: 25%;
}